<!DOCTYPE html>
<html>
<head>
  <title>Msf</title>
  <%= stylesheet_link_tag    "msf/application", media: "all" %>
  <%= javascript_include_tag "msf/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>MSF</h3>
<%= yield %>

</body>
</html>
